@model IEnumerable<Post>      

@{
 
}

<h2>Home Page</h2>
 <img src="~/content/static/nastia-petruk-h0rr17ryvei-unsplash.jpg" width="500px"/> 
<div>
	<ul>
		@foreach(var post in Model)
		{
			<li>
				<a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
					@post.Tittle
				</a>
			</li>
		}
	</ul>
</div>